---

# This is required for issues to be filed
github_access_token: <CHANGEME>
upstream: operator-framework/operator-sdk
downstream: <MY_USER>/<MY_REPO>
overlay_branch: <BRANCH TO OVERLAY>
log_level: INFO
branches:
- source: master
  target: master
  force_overlay: yes
- source: v0.11.x
  target: release-4.2
- source: v0.12.x
  target: release-4.3
assignees:
  - <github handle of someone responsible for failures>
